body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* background-image: url("../img/raduga-nebo-derevya.1920x1200.jpg"); */
  /* background-size: cover; */
}

.conteiner {
  max-width: 800px;
  margin: 0 auto;
}
.wrapper {
  background: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 60px 40px 60px;
  border: 1px solid rgb(113, 113, 148);
  border-radius: 10px;
  box-shadow: 0px 0px 5px #e2c64b;
  margin-top: 50px;
}
form {
  text-align: center;

  position: relative;
  top: 30px;
}
.search {
  width: 70%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #f9f0da;
  color: #464545;
  font-weight: 700;
}
.submit {
  border: 1px solid #999999;
  background: #7ba7ab;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.current {
  border: 1px solid #999999;
  background: #7ba7ab;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.city-data {
  color: #fff;
}
.fa-map-pin {
  font-size: 24px;
  color: red;
}
.current-city {
  font-size: 44px;
  font-weight: bold;
  text-transform: capitalize;
}
.fa-temperature-three-quarters {
  font-size: 24px;
  color: red;
}
.current-city-temp {
  position: relative;
  top: 90px;
  left: 10px;
  color: #fff;
}
.current-temp {
  position: relative;
  top: 20px;
}
.current-temp-value {
  font-size: 42px;
  font-weight: bold;
}
.unit {
  position: relative;
  font-size: 18px;
  top: -18px;
}

.weather-icon {
  width: 350px;
  /* position: relative;
  top: 20px; */
}
.weather-description {
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  font-size: 28px;
  position: relative;
  bottom: 70px;
  /* left: 5px; */
}
.weather-detail {
  position: relative;
  top: 120px;
  /* left: 10px; */
}
.weather-detail-item {
  color: #fff;
  padding-bottom: 20px;
}
.weather-detail-icon {
  border: 5px solid #fff;
  background-color: #fff;
  font-size: 24px;
}
.weather-value {
  font-size: 18px;
}
.weather-description-item {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
}

.city-week {
  margin-top: -20px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
}
.day-item {
  text-align: center;
  font-size: 18px;
}
.week-day {
  color: #fff;
}

.day-temperature {
  color: #fff;
}
.day-weather-icon {
  font-size: 30px;
}
.sun {
  color: yellow;
}
.cloud {
  color: #81a8ac;
}
.git-link {
  color: rgb(75, 75, 231);
}
.git-link:hover {
  text-decoration: underline;
  color: blue;
}
