body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: url("../icons/pexels-ithalu-dominguez-907485.jpg");
  background-size: cover;
}

.conteiner {
  max-width: 800px;
  margin: 0 auto;
}
.wrapper {
  background: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 60px 40px 60px;
  border: 1px solid rgb(113, 113, 148);
  border-radius: 10px;
  box-shadow: 0px 0px 5px #e2c64b;
  margin-top: 50px;
  max-height: 600px;
}
form {
  margin-top: 30px;
  position: relative;
  z-index: 1;
}
.search {
  width: 40%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #f9f0da;
  color: #524c4c;
  font-size: 17px;
  font-weight: 700;
}
.submit {
  margin-left: 7px;
  border: 2px solid #999999;
  background: #7ba7ab;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  box-shadow: 2px 5px 5px #868588;
  transition: all 200ms ease-in-out;
}
.submit:hover {
  background: #838f91;
}

.submit:active {
  border: 1px solid #999999;
  box-shadow: 1px 5px 5px #868588;
}
.current {
  margin-left: 10px;
  border: 2px solid #999999;
  background: #7ba7ab;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  box-shadow: 2px 5px 5px #868588;
  transition: all 200ms ease-in-out;
}
.current:hover {
  background: #838f91;
}
.current:active {
  border: 1px solid #999999;
  box-shadow: 1px 5px 5px #868588;
}
.icon-unDraw {
  width: 200px;
  position: relative;
  left: 480px;
  top: -70px;
}

.fa-map-pin {
  font-size: 24px;
  color: red;
}
.current-city {
  font-size: 44px;
  font-weight: bold;
  text-transform: capitalize;
}
.fa-temperature-three-quarters {
  font-size: 24px;
  color: red;
}

.current-city-temp {
  width: 160px;
  position: relative;
  top: -100px;
  left: 10px;
  color: #fff;
}
.current-temp {
  position: relative;
  top: 10px;
}
.current-temp-value {
  font-size: 42px;
  font-weight: bold;
}
.unit {
  position: relative;
  font-size: 18px;
  top: -18px;
}

.current-icon {
  position: relative;
  top: -200px;
  left: -60px;
}
.weather-icon {
  width: 350px;
}
.weather-description {
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  font-size: 28px;
  position: relative;
  top: -70px;
  /* left: 5px; */
}
.weather-detail {
  position: relative;
  top: -40px;
  left: -40px;
}
.weather-detail-item {
  color: #fff;
  padding-bottom: 20px;
}
.weather-detail-icon {
  border: 5px solid #fff;
  background-color: #fff;
  font-size: 24px;
}
.weather-value {
  font-size: 18px;
}
.weather-description-item {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
}

.city-week {
  position: relative;
  top: -210px;

  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
}
.day-item {
  text-align: center;
  font-size: 18px;
}
.week-day {
  color: #fff;
}

.day-temperature {
  color: #fff;
}

.git-link {
  color: rgb(75, 75, 231);
}
.git-link:hover {
  text-decoration: underline;
  color: blue;
}
